@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.real-top {
  top: 0 !important;
  position: absolute !important;
  width: 100% !important;
}
